*{
  margin: 0;
  border: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}


.menu-principal{
  background-color: gray;
}

.cartao{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.preco{
  color: grey;
  font-size: 22px;
}

.cartao button{
  border: none;
}

.cartao button{
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: black;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.container{
  
  background-repeat: no-repeat;
}
